.grid.container {
  display: grid;
  grid: repeat(3, 100px) / repeat(3, 1fr);
  background: lightgoldenrodyellow;
  /* grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 100px); */
}

.grid.item {
  background: lightblue;
}

.containerStats,
.containerStats th,
.containerStats td {
  border: 1px solid black;
  border-collapse: collapse;
}

.containerStats th {
  padding: 0 1.5rem;
}

.containerStats td {
  text-align: center;
}

.itemInfo {
  padding: 0 .5rem;
}

.details {
  height: 16rem;
}