.grid {
  display: grid;
}

.gameContainer {
  width: 100vw; /* not necessary to implicitly state this */
  grid-template-columns: 1fr 3fr 1fr;
  background: aliceblue;
  justify-items: center;
  align-items: center;
}

.playerPieces {
  grid-template-columns: repeat(2, minmax(80px, 1fr));
  grid-template-rows: repeat(6, minmax(80px, 1fr));
  grid-auto-flow: column;
}

.gameboard {
  grid-template-columns: repeat(6, minmax(80px, 1fr));
  grid-template-rows: repeat(5, minmax(80px, 1fr));
}

.gameboard, .playerPieces {
  width: 100%;
  justify-items: center;
  align-items: center;
}

.playerPieces, .gameboard {
  border: solid 3px seagreen;
}

.piece {
  border: solid 1px black;
  width: 80px;
  height: 80px;
  background: whitesmoke;
}

.one > .player.piece {
  background: royalblue;
}

.two > .player.piece {
  background: brown;
}