.grid {
  display: grid;
}

.gameContainer {
  padding: 5vw 0;
  grid-template-columns: 2fr 5fr 2fr;
  background: #3284cc;
  justify-items: center;
  align-items: center;
}

.playerPieces {
  grid-template-columns: repeat(2, min-content);
  grid-template-rows: repeat(6, min-content);
  grid-auto-flow: column;
  grid-gap: .5vw;
}

.gameboard {
  border: 1px solid black;
  border-radius: 2px;
  padding: 1vw;
  grid-template-columns: repeat(6, 5.5vw);
  grid-template-rows: repeat(5, 5.5vw);
  grid-gap: .5vw;
  background: yellow;
  /* justify-items: center;
  align-items: center; */
}


.playerPieces.one {
  justify-self: right;
}
.playerPieces.two {
  justify-self: left;
}

.gameboard .piece {
  border: solid 1px black;
  border-radius: 2px;
  /* width: 90%;
  height: 90%; */
  /* width: 5vw;
  height: 5vw; */
  background: whitesmoke;
}

.player.one.piece {
  border: 1px solid black;
  border-radius: 2px;
  width: 5vw;
  height: 5vw;
  background: royalblue;
}

.player.two.piece {
  border: 1px solid black;
  border-radius: 2px;
  width: 5vw;
  height: 5vw;
  background: brown;
}